<tr>
	<td>
		<input type="checkbox" class="checkbox" />
	</td>
	<td>
		<div class="flex flex-col justify-start">
			<h3 class="text-lg font-bold">{name}</h3>
			<p class="text-sm text-base-content/60">{source}</p>
		</div>
	</td>
	<td>
		<p class="text-lg font-bold"><span>{time_amount}</span> <span>{time_unit}</span></p>
	</td>
	<td>
		<p class="text-lg">
			<span class="font-bold">{range}</span> <span class="text-sm text-base-content/60">{range_unit}</span>
		</p>
	</td>
	<td>
		<p class="text-lg">
			<span class="text-sm text-base-content/60">{save_unit}</span> <span class="font-bold">{save_dc}</span>
		</p>
	</td>
	<td><div class="kbd kbd-md">{damage_die}</div></td>
	<td>
		<p class="text-md text-base-content/60">{notes}</p>
	</td>
</tr>
