<tr>
	<td>
		<div class="flex flex-row justify-center">
			<input type="checkbox" class="checkbox checkbox-xs" />
		</div>
	</td>
	<td>
		<div class="collapse">
			<input type="checkbox" class="p-1!" />
			<div class="collapse-title p-1!">
				<p class="flex flex-row gap-1 justify-start">
					<span class="font-bold">{name}</span> <span class="text-base-content/60">{source}</span> {extra_icons}
				</p>
			</div>
			<div class="collapse-content pl-1! pr-1!">
				<article class="prose text-xs">{entries}</article>
			</div>
		</div>
	</td>
	<td>
		<p>
			<span class="font-bold">{time_amount}</span
			><span class="tooltip" data-tip="{time_unit_full}">
				<span class="text-base-content/60">{time_unit_abbreviated}</span>
			</span>
		</p>
	</td>
	<td>
		<p><span class="font-bold">{range}</span> <span class="text-base-content/60">{range_unit}</span></p>
	</td>
	<td>
		<p><span class="text-base-content/60">{save_unit}</span> <span class="font-bold">{save_dc}</span></p>
	</td>
	<!-- <td>
		<p class="text-md text-base-content/60">{notes}</p>
	</td> -->
	<td>
		<p>{components}</p>
	</td>
	<td>
		<p>
			<span class="font-bold">{duration_amount}</span
			><span class="tooltip" data-tip="{duration_unit_full}">
				<span class="text-base-content/60">{duration_unit_abbreviated}</span>
			</span>
		</p>
	</td>
</tr>
