<div>
	<form id="actions-filter" class="w-full h-min flex flex-row gap-2 p-2">
		<!-- <input type="radio" name="action-group" value="all" aria-label="All" checked /> -->
		<input type="radio" name="action_filter" value="attack" aria-label="Attack" checked />
		<input type="radio" name="action_filter" value="action" aria-label="Action" />
		<input type="radio" name="action_filter" value="bonus-action" aria-label="Bonus Action" />
		<input type="radio" name="action_filter" value="reaction" aria-label="Reaction" />
		<input type="radio" name="action_filter" value="other" aria-label="Other" />
		<input type="radio" name="action_filter" value="limited-use" aria-label="Limited Use" />
	</form>
	<table>
		<tr>
			<!-- <th>Icon</th> -->
			<th>Name</th>
			<th>Range</th>
			<th>Hit/DC</th>
			<th>Damage</th>
			<th>Notes</th>
		</tr>
		<tr hx-get="/player/attacks" hx-swap="outerHTML" hx-trigger="load once, change from:#actions-filter" hx-include="#actions-filter">
			<span class="loading loading-spinner loading-lg"></span>
		</tr>
	</table>
</div>
