<div id="{name}" class="collapse bg-base-300">
	<input
		class="checked:border border-primary"
		type="radio"
		name="race"
		value="{name}"
		hx-get="/race_details/{name}/{source}/{isRace}"
		hx-trigger="change"
		hx-target="#selected_race_info"
	/>
	<div class="collapse-title text-xl font-medium">
		<span class="flex items-center gap-2">
			{name}
			<span
				class="inline-flex space-x-2"
				hx-get="/isNPC/{handle_name}/{source}/{isRace}"
				hx-trigger="load once"
				><span class="loading loading-spinner loading-lg"></span
			></span>
		</span>
		<div class="text-base font-normal">{full_source}</div>
	</div>
</div>
