<div class="divider">Actions</div>
<table class="w-full table border-separate border-spacing-y-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Range</th>
			<th>Hit/DC</th>
			<th>Damage</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody tauri-invoke="player_actions_action" hx-trigger="load once"></tbody>
</table>
<article class="prose">
	<h3>Actions in Combat</h3>
	<blockquote tauri-invoke="player_actionsincombat_action" hx-trigger="load once"></blockquote>
</article>

<div class="divider">Bonus Actions</div>
<table class="w-full table border-separate border-spacing-y-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Range</th>
			<th>Hit/DC</th>
			<th>Damage</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody tauri-invoke="player_actions_bonusaction" hx-trigger="load once"></tbody>
</table>
<article class="prose">
	<h3>Actions in Combat</h3>
	<blockquote tauri-invoke="player_actionsincombat_bonusaction" hx-trigger="load once"></blockquote>
</article>

<div class="divider">Reactions</div>
<table class="w-full table border-separate border-spacing-y-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Range</th>
			<th>Hit/DC</th>
			<th>Damage</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody tauri-invoke="player_actions_reaction" hx-trigger="load once"></tbody>
</table>
<article class="prose">
	<h3>Actions in Combat</h3>
	<blockquote tauri-invoke="player_actionsincombat_reaction" hx-trigger="load once"></blockquote>
</article>

<div class="divider">Other</div>
<table class="w-full table border-separate border-spacing-y-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Range</th>
			<th>Hit/DC</th>
			<th>Damage</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody tauri-invoke="player_actions_other" hx-trigger="load once"></tbody>
</table>
<article class="prose">
	<h3>Actions in Combat</h3>
	<blockquote tauri-invoke="player_actionsincombat_other" hx-trigger="load once"></blockquote>
</article>

<div class="divider">Limited Use</div>
<table class="w-full table border-separate border-spacing-y-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Range</th>
			<th>Hit/DC</th>
			<th>Damage</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody tauri-invoke="player_actions_limiteduse" hx-trigger="load once"></tbody>
</table>
<article class="prose">
	<h3>Actions in Combat</h3>
	<blockquote tauri-invoke="player_actionsincombat_limiteduse" hx-trigger="load once"></blockquote>
</article>
