<!-- TODO: Shadow on table row, but the border-radius is from row items -->
<tr class="rounded-box-tablerow w-full bg-base-200 h-20">
	<td class="">
		<div class="text-xl font-bold">{name}</div>
		<div class="text-md italic">{type}</div>
	</td>
	<td><span class="text-xl font-bold mr-1">{range}</span>ft.</td>
	<td class="text-xl font-bold">{hitdc}</td>
	<td class="text-xl font-bold">
		<span class="flex items-center">
			{damage}<img class="h-[1em] ml-1 inline-block" src="/assets/damagetypes/{damage_type}.svg" />
		</span>
	</td>
	<td>{notes}</td>
</tr>
