<div class="divider">Actions</div>
<table class="w-full table border-separate border-spacing-y-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Range</th>
			<th>Hit/DC</th>
			<th>Damage</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		{actions}
	</tbody>
</table>
<article class="prose">
	<h3>Actions in Combat</h3>
	<blockquote>{actions_in_combat}</blockquote>
</article>

<div class="divider">Bonus Actions</div>
<table class="w-full table border-separate border-spacing-y-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Range</th>
			<th>Hit/DC</th>
			<th>Damage</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		{bonus_actions}
	</tbody>
</table>
<article class="prose">
	<h3>Actions in Combat</h3>
	<blockquote>{bonus_actions_in_combat}</blockquote>
</article>

<div class="divider">Reactions</div>
<table class="w-full table border-separate border-spacing-y-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Range</th>
			<th>Hit/DC</th>
			<th>Damage</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		{reactions}
	</tbody>
</table>
<article class="prose">
	<h3>Actions in Combat</h3>
	<blockquote>{reactions_in_combat}</blockquote>
</article>

<div class="divider">Other</div>
<table class="w-full table border-separate border-spacing-y-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Range</th>
			<th>Hit/DC</th>
			<th>Damage</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		{other_actions}
	</tbody>
</table>
<article class="prose">
	<h3>Actions in Combat</h3>
	<blockquote>{other_actions_in_combat}</blockquote>
</article>

<div class="divider">Limited Use</div>
<table class="w-full table border-separate border-spacing-y-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Range</th>
			<th>Hit/DC</th>
			<th>Damage</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		{limited_use_actions}
	</tbody>
</table>
<article class="prose">
	<h3>Actions in Combat</h3>
	<blockquote>{limited_use_actions_in_combat}</blockquote>
</article>
