#content {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.raceBlock {
	width: 1000px;
}

.raceName {
	font-size: 60px;
}
.raceDescription {
	font-size: 20px;
}

.raceSource {
	font-size: 40px;
}
.raceFeatCard {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.raceFeatCard:last-of-type {
	margin-bottom: 0px;
}
.raceFeatTitle {
	font-size: 20px;
	font-weight: bolder;
}
.raceFeatDesc {
	font-size: 18px;
}

.raceTable {
    margin-top: 25px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.raceTable th {
    background-color: #908149;
    
}
.raceTable th, td {
    padding: 10px;
    text-align: left;
}