<table class="table table-xs">
	<thead>
		<tr>
			<th class="text-center">Active</th>
			<th>Name</th>
			<th>Weight</th>
			<th>Quantity</th>
			<th>Cost (GP)</th>
			<th>Notes</th>
		</tr>
		<tr>
			<td></td>
			<td>
				<p class="font-bold">
					<span class="text-lg text-base-content">{name}</span>
					<span class="font-md">({num_of_items})</span>
				</p>
			</td>
			<td colspan="4">
				<p class="font-bold">
					<span class="text-lg text-base-content">{weight}</span>
					<span> lb.</span>
				</p>
			</td>
		</tr>
	</thead>
	<tbody>
		{content}
	</tbody>
</table>
