@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
	background: rgb(25, 30, 36);
    padding: 4px;
    box-sizing: border-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(21, 25, 30);
	transition: background-color 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: rgb(14, 17, 20);
}

.scroll-bar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}
.scroll-bar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}