@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

/* width */
/* ::-webkit-scrollbar {
	width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
	border-radius: 10px;
	background: rgb(25, 30, 36);
	padding: 4px;
	box-sizing: border-box;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(21, 25, 30);
	transition: background-color 0.5s;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
	background-color: rgb(14, 17, 20);
} */

/* Actually make a good looking scrollbar */
.scrollbar-none::-webkit-scrollbar {
	display: none; /* Chrome, Safari, and Opera */
}
.scrollbar-none {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* TODO: The gap doesn't go away after hiding the planner; eventually remove gap in favor for padding within the element */
#charsheet-container {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 4fr auto 3fr 10fr;
}
#charsheet-container.closedPlanner {
	grid-template-columns: 0fr auto 3fr 10fr;
}

/* title card */
#title-card {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 4;
}
/* important stats */
#important-stats {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 4;
	grid-column-end: 5;
}
/* abilities */
#str {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}
#dex {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
}
#con {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 3;
}
#int {
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 2;
	grid-column-end: 3;
}
#wis {
	grid-row-start: 6;
	grid-row-end: 7;
	grid-column-start: 2;
	grid-column-end: 3;
}
#cha {
	grid-row-start: 7;
	grid-row-end: 8;
	grid-column-start: 2;
	grid-column-end: 3;
}
/* skills */
#saving-throws {
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 3;
	grid-column-end: 4;
}
#skills {
	grid-row-start: 4;
	grid-row-end: 8;
	grid-column-start: 3;
	grid-column-end: 4;
}
/* senses and proficiencies */
#senses {
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 3;
	grid-column-end: 4;
}
#proficiencies {
	grid-row-start: 4;
	grid-row-end: 8;
	grid-column-start: 3;
	grid-column-end: 4;
}
/* workspace */
#workspace {
	grid-row-start: 3;
	grid-row-end: 8;
	grid-column-start: 4;
	grid-column-end: 5;
}
#planner {
	grid-row-start: 1;
	grid-row-end: 8;
	grid-column-start: 1;
	grid-column-end: 2;
}

#health {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 4;
	grid-column-end: 5;
}

.rounded-box-tablerow td:first-child {
	border-top-left-radius: var(--radius-box, 1rem /* 16px */);
	border-bottom-left-radius: var(--radius-box, 1rem /* 16px */);
}
.rounded-box-tablerow td:last-child {
	border-top-right-radius: var(--radius-box, 1rem /* 16px */);
	border-bottom-right-radius: var(--radius-box, 1rem /* 16px */);
}
.rounded-field-tablerow td:first-child {
	border-top-left-radius: var(--radius-field, 1rem /* 16px */);
	border-bottom-left-radius: var(--radius-field, 1rem /* 16px */);
}
.rounded-field-tablerow td:last-child {
	border-top-right-radius: var(--radius-field, 1rem /* 16px */);
	border-bottom-right-radius: var(--radius-field, 1rem /* 16px */);
}

.hitpoints {
	clip-path: polygon(
		25% 0%,
		75% 0,
		75% 25%,
		100% 25%,
		100% 75%,
		75% 75%,
		75% 100%,
		25% 100%,
		25% 75%,
		0% 75%,
		0% 25%,
		25% 25%
	);
}

.btn-dimensions-override {
	@apply btn;

	width: 100%;
	height: 100%;
}

.input-dimensions-override {
	@apply input;

	width: 100%;
	height: 100%;
}

.expanded-currency {
	height: calc(var(--spacing) * 24);
}

.currency-element-grid-template {
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr;
}
