@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

/* TODO: add dark mode variants */
.common {
	color: var(--text-base-content);
}
.uncommon {
	color: #5cbe3e;
}
.rare {
	color: #5991dc;
}
.veryrare {
	color: #b55dff;
}
.legendary {
	color: #f2a546;
}
.artifact {
	color: #b78b76;
}

/* TODO: actually make a good looking scrollbar */
.scrollbar-none::-webkit-scrollbar {
	display: none; /* Chrome, Safari, and Opera */
}
.scrollbar-none {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.rounded-box-tablerow td:first-child {
	border-top-left-radius: var(--radius-box, 1rem /* 16px */);
	border-bottom-left-radius: var(--radius-box, 1rem /* 16px */);
}
.rounded-box-tablerow td:last-child {
	border-top-right-radius: var(--radius-box, 1rem /* 16px */);
	border-bottom-right-radius: var(--radius-box, 1rem /* 16px */);
}
.rounded-field-tablerow td:first-child {
	border-top-left-radius: var(--radius-field, 1rem /* 16px */);
	border-bottom-left-radius: var(--radius-field, 1rem /* 16px */);
}
.rounded-field-tablerow td:last-child {
	border-top-right-radius: var(--radius-field, 1rem /* 16px */);
	border-bottom-right-radius: var(--radius-field, 1rem /* 16px */);
}

.btn-dimensions-override {
	@apply btn;

	width: 100%;
	height: 100%;
}

.input-dimensions-override {
	@apply input;

	width: 100%;
	height: 100%;
}

.expanded-currency {
	height: calc(var(--spacing) * 24);
}

.currency-element-grid-template {
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr;
}

.rounded-field-container {
	--box-radius: calc(var(--radius-field) + var(--radius-field) + var(--radius-field));
	border-radius: calc(var(--radius-field) + min(0.25rem, var(--box-radius)));
}
